:root {
    --main-bg-color: #0d6efd;
    --main-text-color: #0d6efd;
    --second-text-color: #bbbec5;
    --second-bg-color: #c3ccc8;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    /*background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );*/
    background: url(imagenes/home1.png);
}

#sidebar-wrapper { /*animacion de esconder opciones*/
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group { /*ancho del tamaño de las letras de las*/
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}


@media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
}



.form-check-input{
    margin-right: 100px;
}

td{
    font-size: 20px;
    margin-right: 55px;
 }

th{
    font-size: 20px;
}

h3{
    color: white;
}

h1{
    color: white;
 }

button{
    margin-right: 30px;
    height: 70px;

}

center input{
    height: 70px;
}





/*Informacion Usuario*/

.profile-links{
    background-color: #0d6efd;
    padding: 30px 20px;
    text-align: center;
    margin: 230px 50px 0 50px;
    border-radius: 10px;
}
.profile-links img{
    width: 150px;
    height: 150px;
    border-radius: 30%;
    display: inline-block;
    margin-bottom: 25px;
}
.profile-links li{
    display: block;
    margin: 20px 0;
}

.profile-links li a{ /*cambia las letras del recuadro de la imagen*/
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 170%;
    font-weight: 600;
    color: white;
    text-decoration: none;
    margin: 15px 0px;
    display: inline-block ;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease-in;
}

.profile-links li a:hover{
	background: gray; /*cambia de color el hover*/
}
.caja{
    width: 650px;
    height: 220px;
    background-color: #EEFFFB;
    background: rgba(5, 5, 5, 0.836);
    border-radius: 20px;
}
.mt-custum{
    font-family: "Lato", sans-serif;
    margin-top: 250px;
}
.col-8{
    font-family: "Lato", sans-serif;
    font-size: 100%;
    color: white;

}
.col-4{
    font-size: 100%;
    color: white;
    
}
.mt-custum .details{
    border-bottom:2.7px solid #0d6efd ;
    padding: 20px;
    font-weight: 900;
}
.mt-5{
    color: white;
    margin-left: 15px;
}

.text-justify{
    text-align: justify;
    color: white;
    font-family: "Lato", sans-serif;
}
