:root {
    --main-bg-color: #0d6efd;
    --main-text-color: #0d6efd;
    --second-text-color: #bbbec5;
    --second-bg-color: #c3ccc8;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    /*background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );*/
    background: url(../imagenes/home1.png);
}

#sidebar-wrapper {
    /*animacion de esconder opciones*/
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    /*ancho del tamaño de las letras de las*/
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}


@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}



.form-check-input {
    margin-right: 100px;
}

td {
    font-size: 20px;
    margin-right: 55px;
}

th {
    font-size: 20px;
}

h3 {
    color: white;
}

h1 {
    color: white;
}

button {
    margin-right: 30px;
    height: 70px;

}

center input {
    height: 70px;
}


/*barra de progreso*/

/* Basic Progress Bar setup*/

.card {
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-top: 5cm;
}

.card-footer{
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

.progressbar {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 100;
}

.progressbar li {
    list-style-type: none;
    width: 30%;
    float: left;
    font-size: 1rem;
    font-weight: 1000;
    position: relative;
    text-align: center;
    color: black;
}

.progressbar li:after {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    background-color: red;
    top: 25px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:before {
    border-color: #008080;
}

.progressbar li.active+li:after {
    background-color: #008080;
}

.progressbar li:before {
    width: 50px;
    height: 50px;
    border: 5px solid red;
    display: block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    background-color: #0d6efd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

li:before {
    content: "";
}

/* Step Count */
ul.rb-step {
    counter-reset: step;
}

ul.rb-step li:before {
    content: counter(step);
    counter-increment: step;
}

/* For Square */
ul.rb-square li::before {
    border-radius: 0;
}



/* adicion de los iconos  */
li.revision:before {
    font-family: FontAwesome;
    content: "\f56c";
}


li.entrega:before {
    font-family: FontAwesome;
    content: "\f56f";
}

li.done:before {
    font-family: FontAwesome;
    content: "\e5a0";
}